MuleProyect/src/main/mule/muleproyect.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a5bbc687-ea9e-4f2f-970f-381361bdfe44" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<http:request-config name="ObtenerUsuarios" doc:name="HTTP Request configuration" doc:id="1001d952-27e1-4e38-9ee1-1eb53adf401f" basePath="/users" >
		<http:request-connection host="jsonplaceholder.typicode.com" usePersistentConnections="false"/>
	</http:request-config>
	<http:request-config name="ConeccionLocal" doc:name="HTTP Request configuration" doc:id="cc971ac9-ca9f-4e67-9d59-82dabd25c4e9" >
		<http:request-connection host="localhost" port="5050" />
	</http:request-config>
	<flow name="Copy_of_muleproyectFlow" doc:id="7ef2889d-bcfa-413d-a68b-4e50e0fefa56" >
		<http:listener doc:name="run" doc:id="0000631b-d40e-4eef-9cd6-4ddf98c2374c" config-ref="HTTP_Listener_config" path="/" />
		<http:request method="GET" doc:name="Request" doc:id="e110b213-0ee3-44dc-be8e-610e903ef984" config-ref="ConeccionLocal" path="/get_datos"/>
		<set-variable value="#[payload.id_usr]" doc:name="ID Usuario" doc:id="97708624-98a8-4a3e-aca1-79716a9d45fc" variableName="id_usr"/>
		<logger level="INFO" doc:name="Logger" doc:id="041220c7-2822-4bf6-93f0-f8810cd8f49c" message="#[vars.id_usr]" />
		<http:request method="GET" doc:name="Request" doc:id="b25e26b5-8cc8-4539-b73a-7bd4e695f00c" config-ref="ObtenerUsuarios" sendCorrelationId="AUTO" path='/{id}'>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : vars.id_usr
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
